<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/images/sanctorum-sanctum.ico">
    <title>IoT Web App - G9</title>
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!--ChartJS-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<!--CSS-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>

<body>
    <nav class="">
			<h1>IoT Web-App</h1>
			<h2>Group 9</h2>
			<ul>
				<li><a href="{{ url_for('home') }}">AQI Monitor</a></li>
				<li><a class="li-active" href="{{ url_for('ourteam') }}">Our Team</a></li>
			</ul>
    </nav>
    <div class="team">
    {% for member in members %}
    <div class="card p-3 fs-5">
      <div class="row">
        <div class="col-3 text-center">
          <img class="ava rounded-circle" src="/static/images/{{member['id']}}.jpg">
        </div>
        <div class="info col-9 p-2">
          <h3>{{member['name']}}</h3>
          <h4>{{member['id']}}</h4>
        </div>
      </div>
    </div>
    {%endfor%}

    </div>
</body>
</html>